.custom-table {
    /* Common styles for the table */
    width: 100%; /* Ensure the table occupies the full width */
    border-collapse: collapse; /* Remove space between cells */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow to the table */
    margin-top: 20px; /* Space from the top */
    font-size: 0.9em; /* Font size */
}

.custom-table th {
    background-color: #f8f9fa;
    color: #000;
    text-align: center;
    padding: 12px 15px; /* Padding for header */
    border-bottom: 1px solid #dee2e6; /* Bottom border */
}

.custom-table td {
    color: #1677FF;
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px; /* Padding for cells */
    border-bottom: 1px solid #dee2e6; /* Bottom border for each cell */
}

/* Style for buttons inside the table */
.custom-table .btn {
    padding: 5px 10px; /* Adjust padding size */
    border-radius: 4px; /* Round the corners */
    font-size: 0.8em; /* Font size for text inside buttons */
}

/* Add specific styles for different button variants if needed */
.custom-table .btn-warning { /* Styles for warning (edit) button */
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.custom-table .btn-info { /* Styles for info (view) button */
    color: #fff;
    background-color: #155e94;
    border-color: #155e94;
}

.custom-table .btn-danger { /* Styles for danger (delete) button */
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.custom-table .btn:hover { /* Hover effects for buttons */
    background-color: #340ab4; /* Thay đổi màu nền khi di chuột qua */
}

.custom-button {
    /* Add your custom styles here */
    background-color: #0447e4; /* Set your preferred background color */
    color: #fff; /* Set your preferred text color */
    border: 1px solid #3816a9; /* Set your preferred border color */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
  }

.custom-button:hover {
    background-color: #340ab4; /* Thay đổi màu nền khi di chuột qua */
  }

  .content-container {
    flex-grow: 1;
    background-color: #ffffff;
  }
  .container {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
  }
  .leduoi{
    max-height: calc(100vh - 100px); 
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6; 
  }
  
  .table-container {
    overflow: auto; 
    max-height: calc(100vh - 120px); 
  }
  